<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 12 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:SimSun;
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"\@SimSun";
	panose-1:2 1 6 0 3 1 1 1 1 1;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Calibri","sans-serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"Header Char";
	margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	layout-grid-mode:char;
	border:none;
	padding:0in;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Footer Char";
	margin:0in;
	margin-bottom:.0001pt;
	layout-grid-mode:char;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Balloon Text Char";
	margin:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:21.0pt;
	font-size:10.5pt;
	font-family:"Calibri","sans-serif";}
span.BalloonTextChar
	{mso-style-name:"Balloon Text Char";
	mso-style-link:"Balloon Text";}
span.HeaderChar
	{mso-style-name:"Header Char";
	mso-style-link:Header;}
span.FooterChar
	{mso-style-name:"Footer Char";
	mso-style-link:Footer;}
.MsoChpDefault
	{font-size:10.0pt;}
 /* Page Definitions */
 @page Section1
	{size:595.3pt 841.9pt;
	margin:1.0in .75in 1.0in .75in;
	layout-grid:15.6pt;}
div.Section1
	{page:Section1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

</head>

<body lang=EN-US style='text-justify-trim:punctuation'>

<div class=Section1 style='layout-grid:15.6pt;width:720px'>

<p class=MsoNormal align=right style='text-align:right'><span style='font-size:
12.0pt;font-family:SimSun'>
<a href="$appServer" target="_blank"><img width=233 height=43 id="&#22270;&#29255; 2" src="$appServer/images/logo.png"></a></span></p>

<p class=MsoNormal>Hi <b><i><span style='color:gray'>$!username</span></i></b>,</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><b>Welcome to Goldenlink-plus.com!</b> With a whole new systematic
searching methodology on a map-based platform, Goldenlink+ is designed to offer
you the best experience in business searching and facilitate your business
information display worldwide; moreover, it provides all the business related
activities inside. You can easily get started per the following role you
played:</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>If you are an <b><i>existing business organization/individual</i></b>,
you can:</p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><li>Publish your business information and location on our world map.</li></p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><li>Search for the business resources(potential suppliers, customers, etc.) for business operations.</li></p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><li>Overview the business chains in your industry to understand your business position.</li></p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><li>Acquire the latest marketing information to align your business strategies.</li></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>If you are a<b><i> business start-up</i></b>, you can:</p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><li>Get your initial understanding of an actual business environment</li></p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><li>Perform your business research using our additional statistics provided.</li></p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:0in'>&nbsp;</p>

<p class=MsoNormal>If you are an<b><i> end-user,</i></b> you can:</p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><li>Find all organizations that you are difficult to searching for,
business organizations, non-profit organizations, governments, etc.</li></p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><li>Shop online for products that you want to purchase and explore the latest promotional and other activities of your favorite companies</li></p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><li>Rate your products and companies you like or dislike</li></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Now get started by a simple click to active your account<a href="$appServer/user/active.htm?token=$!{token}&email=$!{email}" target="_blank">$appServer/user/active.htm?token=$!{token}&email=$!{email}</a>

</p>

<p class=MsoNormal>

<a href="$appServer/map.htm?zoom=2" title="Search on a Global Map"><img width=155 height=87 id="&#22270;&#29255; 1" src="$appServer/images/icon/137-93-a.png"></img></a>

<img width=155 height=87 id="&#22270;&#29255; 1" src="$appServer/images/icon/137-93-b.png"></img>

<img width=155 height=87 id="&#22270;&#29255; 1" src="$appServer/images/icon/137-93-c.png"></img>

<img width=155 height=87 id="&#22270;&#29255; 1" src="$appServer/images/icon/137-93-d.png"></img>

</p>

<p class=MsoNormal>If you need help, you may visit our <b><i><a href="$appServer/help/index.htm" target="_blank"><span style='color:#005DA2'>help center</span></a></i></b>! Or you can <b>
		<i><a href="$appServer/help/contact.htm" target="_blank"><span style='color:#005DA2'>contact us</span></a></i></b> directly!</p>

<div style='border:none;border-bottom:solid windowtext 1.0pt;padding:0in 0in 1.0pt 0in'>

<p class=MsoNormal style='border:none;padding:0in'>Team Goldenlink+</p>

<p class=MsoNormal style='border:none;padding:0in'>Learn more about our <b><i>
			<a href="$appServer/help/privacy.htm" target="_blank"><span style='color:#005DA2'>private policy </span></a></i></b>and <b><i>
			<a href="$appServer/help/legal.htm" target="_blank"><span style='color:#005DA2'>user agreement</span></a></i></b></p>

<p class=MsoNormal style='border:none;padding:0in'>&copy;2013 goldenlink+, All rights reserved.</p>

</div>

</div>

</body>

</html>
