<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 12 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:SimSun;
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"\@SimSun";
	panose-1:2 1 6 0 3 1 1 1 1 1;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Calibri","sans-serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"Header Char";
	margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	layout-grid-mode:char;
	border:none;
	padding:0in;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Footer Char";
	margin:0in;
	margin-bottom:.0001pt;
	layout-grid-mode:char;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Balloon Text Char";
	margin:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:21.0pt;
	font-size:10.5pt;
	font-family:"Calibri","sans-serif";}
span.BalloonTextChar
	{mso-style-name:"Balloon Text Char";
	mso-style-link:"Balloon Text";}
span.HeaderChar
	{mso-style-name:"Header Char";
	mso-style-link:Header;}
span.FooterChar
	{mso-style-name:"Footer Char";
	mso-style-link:Footer;}
.MsoChpDefault
	{font-size:10.0pt;}
 /* Page Definitions */
 @page Section1
	{size:595.3pt 841.9pt;
	margin:1.0in .75in 1.0in .75in;
	layout-grid:15.6pt;}
div.Section1
	{page:Section1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

</head>

<body lang=EN-US style='text-justify-trim:punctuation;width:650px'>

<div class=Section1 style='layout-grid:15.6pt'>

<p class=MsoNormal align=right style='text-align:right'><span style='font-size:
12.0pt;font-family:SimSun'><img width=233 height=43 id="&#22270;&#29255; 2"
src="Registrationwelcomeemailtemplate_files/image001.jpg"></span></p>

<p class=MsoNormal>Hi <b><i><span style='color:gray'>$!email</span></i></b>,</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><b>Welcome to Goldenlink-plus.com!</b> With a whole new systematic
searching methodology on a map-based platform, Goldenlink+ is designed to offer
you the best experience in business searching and facilitate your business
information display worldwide; moreover, it provides all the business related
activities inside. You can easily get started per the following role you
played:</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>If you are an <b><i>existing business organization/individual</i></b>,
you can:</p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><span
style='font-family:Wingdings'>&#159;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Publish your business information and location on our world map  </p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><span
style='font-family:Wingdings'>&#159;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Search for the business resources(potential suppliers, customers,
etc.) for business operations</p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><span
style='font-family:Wingdings'>&#159;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Overview the business chains in your industry to understand your
business position</p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><span
style='font-family:Wingdings'>&#159;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Acquire the latest marketing information to align your business
strategies</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>If you are a<b><i> business start-up</i></b>, you can:</p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><span
style='font-family:Wingdings'>&#159;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Get your initial understanding of an actual business environment</p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><span
style='font-family:Wingdings'>&#159;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Perform your business research using our additional statistics
provided</p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:0in'>&nbsp;</p>

<p class=MsoNormal>If you are an<b><i> end-user,</i></b> you can:</p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><span
style='font-family:Wingdings'>&#159;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Find all organizations that you are difficult to searching for,
business organizations, non-profit organizations, governments, etc.</p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><span
style='font-family:Wingdings'>&#159;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Shop online for products that you want to purchase and explore
the latest promotional and other activities of your favorite companies</p>

<p class=MsoListParagraph style='margin-left:21.0pt;text-indent:-21.0pt'><span
style='font-family:Wingdings'>&#159;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span>Rate your products and companies you like or dislike</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Now get started by a simple click!</p>

<p class=MsoNormal><img width=661 height=87 id="&#22270;&#29255; 1"
src="Registrationwelcomeemailtemplate_files/image002.jpg"></p>

<p class=MsoNormal>If you need help, you may visit our <b><i><span
style='color:#005DA2'>help center</span></i></b>! Or you can <b><i><span
style='color:#005DA2'>contact us</span></i></b> directly!</p>

<div style='border:none;border-bottom:solid windowtext 1.0pt;padding:0in 0in 1.0pt 0in'>

<p class=MsoNormal style='border:none;padding:0in'>Team Goldenlink+</p>

<p class=MsoNormal style='border:none;padding:0in'>Learn more about our <b><i><span
style='color:#005DA2'>private policy </span></i></b>and <b><i><span
style='color:#005DA2'>user agreement</span></i></b></p>

<p class=MsoNormal style='border:none;padding:0in'>&copy;2013 goldenlink+, All rights reserved.</p>

</div>

</div>

</body>

</html>
